{% load i18n static %}

<div id="editable-toolbar" method="POST" action="{% url "admin:logout" %}">
    {% url "admin:index" as admin_index_url %}
    {% url "admin:logout" as admin_logout_url %}
    {% url "logout" as accounts_logout_url %}
    <a id="editable-toolbar-toggle" href="#"></a>
    <a href="{{ editable_obj.get_admin_url|default:admin_index_url }}">{% trans "Admin" %}</a>
    <form method="post" action="{{ accounts_logout_url|default:admin_logout_url }}" style="display:inline;margin:0;padding:0">
        {% csrf_token %}
        <input type="hidden" name="{{ REDIRECT_FIELD_NAME }}" value="{{ request.path }}">
        <button type="submit">{% trans "Log out" %}</button>
    </form>
</div>

<img id="editable-loading" src="{% static "mezzanine/img/loadingAnimation.gif" %}">

